<div class="modal fade" id="apiFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Specify API Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <label data-error="wrong" data-success="right">Password</label>
                <input type="password" name="password" class="form-control validate" required>
            </div>

            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Specify Profiles Name</h4>
            </div>

            <div class="modal-body mx-3">
                <div class="form-group">
                    <label>Select Name:</label>
                    <select name="f4_name" class="form-control">
                        {% for name in name_list %}
                        <option>{{name}}</option>
                        {% endfor %}}
                    </select>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-user" name="option" value="4">Submit</button>
            </div>
        </div>
    </div>
</div>
