<!DOCTYPE html>
<html lang="en">

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'base.html' %}
    <!-- Begin Page Content -->
    <div class="container-fluid" style="margin-top: 2em;">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Functions</h1>
        </div>

        <hr class="topbar-divider">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-lg my-5">
                        <div class="card-body">
                            <h4 class="card-title text-gray-900">Function 2</h4>
                            <hr>
                            <p class="card-text">List all the matched students of one given student B based on
                                country.</p>
                            <button class="btn btn-outline-primary btn-circle" data-toggle="modal"
                                    data-target="#selectName"><i class="fa fa-play"></i>
                            </button>
                            <form action="{{ url_for('handle_functions') }}" method="post">
                                <input type="hidden" name="option" value="2">
                                {% include 'selectName.html' %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg my-5">
                        <div class="card-body">
                            <h4 class="card-title text-gray-900">Function 3</h4>
                            <hr>
                            <p class="card-text">List the top 3 best matched students who share the most similar likes
                                or dislikes for one given student B.</p>
                            <a href="#" class="btn btn-outline-primary btn-circle"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg my-5">
                        <div class="card-body">
                            <h4 class="card-title text-gray-900">Function 4</h4>
                            <hr>
                            <p class="card-text"><br>List the top 3 best matched students based on books they
                                like.<br><br></p>
                            <button class="btn btn-outline-primary btn-circle" data-toggle="modal"
                                    data-target="#apiFile"><i class="fa fa-play"></i>
                            </button>
                            <form action="{{ url_for('api_key') }}" method="post">
                                {% include 'api_key.html' %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg my-5">
                        <div class="card-body">
                            <h4 class="card-title text-gray-900">Function 5</h4>
                            <hr>
                            <p class="card-text">
                                List the top 3 best matched students based on the overall profile
                                information which may include all the personal information for
                                ranking.</p>
                            <a href="#" class="btn btn-outline-primary btn-circle"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg my-5">
                        <div class="card-body">
                            <h4 class="card-title text-gray-900">Function 6</h4>
                            <hr>
                            <p class="card-text">Store all the best matched students into one .csv file on the disk.</p>
                            <a href="#" class="btn btn-outline-primary btn-circle"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg my-5">
                        <div class="card-body">
                            <h4 class="card-title text-gray-900">Function 7</h4>
                            <hr>
                            <p class="card-text">
                                Play the Function 7 birthday guessing game.
                            </p>
                            <a href="#" class="btn btn-outline-primary btn-circle"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>