<!DOCTYPE html>
<html lang="en">

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'base.html' %}
    <!-- Begin Page Content -->
    <div class="container-fluid" style="margin-top: 2em;">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Function 7 Game Mode</h1>
        </div>

        <hr class="topbar-divider">

        <header class="masthead">
            <div class="container">
                <!-- Outer Row -->
                <div class="row justify-content-center" style="margin-top: 10em;">

                    <div class="col-xl-10 col-lg-12 col-md-9 col-sm-1">

                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-12">
                                        <div class="p-5">
                                            {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                {{ message }}
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% endwith %}
                                            <div class="text-center">

                                                <i class="fa fa-heartbeat"></i>
                                                <i class="fa fa-heartbeat"></i>
                                                <i class="fa fa-heartbeat"></i>
                                                <i class="fa fa-heartbeat"></i>
                                                <i class="fa fa-heartbeat"></i>

                                                <h1 class="h4 text-gray-900 mb-4">Hello {{ name }} ! </h1>
                                                <p class="h5 text-gray-900">Want to chat with your matches? It wont be
                                                    easy ?!</p>
                                                <p class="h5 text-gray-900">Guess the birthday!</p>
                                            </div>
                                            <center>
                                                <button class="btn btn-primary btn-user" onclick="showPanel()">Lets go!
                                                </button>
                                                <form action="{{ url_for('home') }}" method="post">
                                                    {% include 'browse.html' %}
                                                </form>
                                            </center>
                                            <div id="game" class="text-center" style="display: none">
                                            <!-- Implement Function 7 here -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </header>
    </div>
</div>
<script>
    function showPanel() {
        var x = document.getElementById("game");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>
</html>